.mt-n5 {
  margin-top: -0.5rem !important;
}
.p-n2 {
  padding-top: -0.5rem !important;
  padding-bottom: -0.5rem !important;
}
.border {
  border: 1px solid "gray" !important;
}
.border-top {
  border-top: 1px solid "gray" !important;
}
.border-bottom {
  border-bottom: 1px solid "gray" !important;
}
.border-left {
  border-left: 1px solid "gray" !important;
}
.border-right {
  border-right: 1px solid "gray" !important;
}
.img-container: {
  max-width: 100%;
  max-height: 5rem;
  overflow: hidden;
}
.img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
